
*.vcxproj

*.filters

*.bat

*.cmake

*.rule

*.bin

*.exe

*.obj

*.tlog

*.log

*.stamp

*.depend

*.sln

*.check_cache

CMakeFiles/3.15.5/CompilerIdC/

CMakeFiles/3.15.5/CompilerIdCXX/

CMakeCache.txt

CMakeFiles/3.15.5/VCTargetsPath.txt

CMakeFiles/generate.stamp.list

CMakeFiles/TargetDirectories.txt

Common/Utils/src/Sen2AgriCommonUtils.dir/Debug/objects.txt

Common/Utils/src/Sen2AgriCommonUtils.dir/MinSizeRel/objects.txt

Common/Utils/src/Sen2AgriCommonUtils.dir/Release/objects.txt

Common/Utils/src/Sen2AgriCommonUtils.dir/RelWithDebInfo/objects.txt

Common/XmlUtils/src/Sen2AgriXmlUtils.dir/Debug/objects.txt

Common/XmlUtils/src/Sen2AgriXmlUtils.dir/MinSizeRel/objects.txt

Common/XmlUtils/src/Sen2AgriXmlUtils.dir/Release/objects.txt

Common/XmlUtils/src/Sen2AgriXmlUtils.dir/RelWithDebInfo/objects.txt

DartConfiguration.tcl

ProductFormatters/ProductMetaWriters/src/Sen2AgriPrdMetaWriters.dir/Debug/objects.txt

ProductFormatters/ProductMetaWriters/src/Sen2AgriPrdMetaWriters.dir/MinSizeRel/objects.txt

ProductFormatters/ProductMetaWriters/src/Sen2AgriPrdMetaWriters.dir/Release/objects.txt

ProductFormatters/ProductMetaWriters/src/Sen2AgriPrdMetaWriters.dir/RelWithDebInfo/objects.txt

ProductReaders/MACCSMetadata/src/MACCSMetadata.dir/Debug/objects.txt

ProductReaders/MACCSMetadata/src/MACCSMetadata.dir/MinSizeRel/objects.txt

ProductReaders/MACCSMetadata/src/MACCSMetadata.dir/Release/objects.txt

ProductReaders/MACCSMetadata/src/MACCSMetadata.dir/RelWithDebInfo/objects.txt

ProductReaders/MetadataHelpers/src/Sen2AgriProductReaders.dir/Debug/objects.txt

ProductReaders/MetadataHelpers/src/Sen2AgriProductReaders.dir/MinSizeRel/objects.txt

ProductReaders/MetadataHelpers/src/Sen2AgriProductReaders.dir/Release/objects.txt

ProductReaders/MetadataHelpers/src/Sen2AgriProductReaders.dir/RelWithDebInfo/objects.txt

*.db

*.opendb

*.ipch

*.db-shm

*.db-wal

*.user

.vs/sen2agri-processors/v16/.suo

*.lib

*.exp

*.dll

CropType/SampleSelection/otbapp_SampleSelectionAgri.dir/Release/otbapp_SampleSelectionAgri.vcxproj.FileListAbsolute.txt

Common/ComputeConfusionMatrixMulti/otbapp_ComputeConfusionMatrixMulti.dir/Debug/otbapp_ComputeConfusionMatrixMulti.vcxproj.FileListAbsolute.txt

Common/ComputeConfusionMatrixMulti/otbapp_ComputeConfusionMatrixMulti.dir/Debug/vc142.pdb

Common/ComputeConfusionMatrixMulti/otbapp_ComputeConfusionMatrixMulti.dir/Release/otbapp_ComputeConfusionMatrixMulti.vcxproj.FileListAbsolute.txt

Common/CropMaskImageClassifier/otbapp_CropMaskImageClassifier.dir/Debug/otbapp_CropMaskImageClassifier.vcxproj.FileListAbsolute.txt

Common/CropMaskImageClassifier/otbapp_CropMaskImageClassifier.dir/Debug/vc142.pdb

Common/CropMaskImageClassifier/otbapp_CropMaskImageClassifier.dir/Release/otbapp_CropMaskImageClassifier.vcxproj.FileListAbsolute.txt

Common/CropMaskTrainImagesClassifier/otbapp_CropMaskTrainImagesClassifier.dir/Debug/otbapp_CropMaskTrainImagesClassifier.vcxproj.FileListAbsolute.txt

Common/CropMaskTrainImagesClassifier/otbapp_CropMaskTrainImagesClassifier.dir/Debug/vc142.pdb

Common/CropMaskTrainImagesClassifier/otbapp_CropMaskTrainImagesClassifier.dir/Release/otbapp_CropMaskTrainImagesClassifier.vcxproj.FileListAbsolute.txt

Common/CropTypeImageClassifier/otbapp_CropTypeImageClassifier.dir/Debug/otbapp_CropTypeImageClassifier.vcxproj.FileListAbsolute.txt

Common/CropTypeImageClassifier/otbapp_CropTypeImageClassifier.dir/Debug/vc142.pdb

Common/CropTypeImageClassifier/otbapp_CropTypeImageClassifier.dir/Release/otbapp_CropTypeImageClassifier.vcxproj.FileListAbsolute.txt

Common/CropTypeTrainImagesClassifier/otbapp_CropTypeTrainImagesClassifier.dir/Debug/otbapp_CropTypeTrainImagesClassifier.vcxproj.FileListAbsolute.txt

Common/CropTypeTrainImagesClassifier/otbapp_CropTypeTrainImagesClassifier.dir/Debug/vc142.pdb

Common/CropTypeTrainImagesClassifier/otbapp_CropTypeTrainImagesClassifier.dir/Release/otbapp_CropTypeTrainImagesClassifier.vcxproj.FileListAbsolute.txt

Common/MultiModelImageClassifier/otbapp_MultiModelImageClassifier.dir/Debug/otbapp_MultiModelImageClassifier.vcxproj.FileListAbsolute.txt

Common/MultiModelImageClassifier/otbapp_MultiModelImageClassifier.dir/Debug/vc142.pdb

Common/MultiModelImageClassifier/otbapp_MultiModelImageClassifier.dir/Release/otbapp_MultiModelImageClassifier.vcxproj.FileListAbsolute.txt

Common/NDVISeries/otbapp_NDVISeries.dir/Debug/otbapp_NDVISeries.vcxproj.FileListAbsolute.txt

Common/NDVISeries/otbapp_NDVISeries.dir/Debug/vc142.pdb

Common/NDVISeries/otbapp_NDVISeries.dir/Release/otbapp_NDVISeries.vcxproj.FileListAbsolute.txt

Common/OTBExtensions/x64/Debug/OTBExtensions/OTBExtensions.vcxproj.FileListAbsolute.txt

Common/OTBExtensions/x64/Release/OTBExtensions/OTBExtensions.vcxproj.FileListAbsolute.txt

Common/TimeSeriesReader/Debug/TimeSeriesReader.pdb

Common/TimeSeriesReader/TimeSeriesReader.dir/Debug/TimeSeriesReader.pdb

Common/TimeSeriesReader/TimeSeriesReader.dir/Debug/TimeSeriesReader.vcxproj.FileListAbsolute.txt

Common/TimeSeriesReader/TimeSeriesReader.dir/Release/TimeSeriesReader.vcxproj.FileListAbsolute.txt

Common/TrainImagesClassifierNew/otbapp_TrainImagesClassifierNew.dir/Debug/otbapp_TrainImagesClassifierNew.vcxproj.FileListAbsolute.txt

Common/TrainImagesClassifierNew/otbapp_TrainImagesClassifierNew.dir/Debug/vc142.pdb

Common/TrainImagesClassifierNew/otbapp_TrainImagesClassifierNew.dir/Release/otbapp_TrainImagesClassifierNew.vcxproj.FileListAbsolute.txt

Common/Utils/src/Debug/Sen2AgriCommonUtils.pdb

Common/Utils/src/Sen2AgriCommonUtils.dir/Debug/exports.def

Common/Utils/src/Sen2AgriCommonUtils.dir/Debug/Sen2AgriCommonUtils.pdb

Common/Utils/src/Sen2AgriCommonUtils.dir/Debug/Sen2AgriCommonUtils.vcxproj.FileListAbsolute.txt

Common/Utils/src/Sen2AgriCommonUtils.dir/Release/exports.def

Common/Utils/src/Sen2AgriCommonUtils.dir/Release/Sen2AgriCommonUtils.vcxproj.FileListAbsolute.txt

Common/XMLStatistics/otbapp_XMLStatistics.dir/Debug/otbapp_XMLStatistics.vcxproj.FileListAbsolute.txt

Common/XMLStatistics/otbapp_XMLStatistics.dir/Debug/vc142.pdb

Common/XMLStatistics/otbapp_XMLStatistics.dir/Release/otbapp_XMLStatistics.vcxproj.FileListAbsolute.txt

Common/XmlUtils/src/Debug/Sen2AgriXmlUtils.pdb

Common/XmlUtils/src/Sen2AgriXmlUtils.dir/Debug/exports.def

Common/XmlUtils/src/Sen2AgriXmlUtils.dir/Debug/Sen2AgriXmlUtils.pdb

Common/XmlUtils/src/Sen2AgriXmlUtils.dir/Debug/Sen2AgriXmlUtils.vcxproj.FileListAbsolute.txt

Common/XmlUtils/src/Sen2AgriXmlUtils.dir/Release/exports.def

Common/XmlUtils/src/Sen2AgriXmlUtils.dir/Release/Sen2AgriXmlUtils.vcxproj.FileListAbsolute.txt

ContinuousColorMapping/otbapp_ContinuousColorMapping.dir/Debug/otbapp_ContinuousColorMapping.vcxproj.FileListAbsolute.txt

ContinuousColorMapping/otbapp_ContinuousColorMapping.dir/Debug/vc142.pdb

ContinuousColorMapping/otbapp_ContinuousColorMapping.dir/Release/otbapp_ContinuousColorMapping.vcxproj.FileListAbsolute.txt

CropMask/Erosion/otbapp_Erosion.dir/Debug/otbapp_Erosion.vcxproj.FileListAbsolute.txt

CropMask/Erosion/otbapp_Erosion.dir/Debug/vc142.pdb

CropMask/Erosion/otbapp_Erosion.dir/Release/otbapp_Erosion.vcxproj.FileListAbsolute.txt

CropMask/MajorityVoting/otbapp_MajorityVoting.dir/Debug/otbapp_MajorityVoting.vcxproj.FileListAbsolute.txt

CropMask/MajorityVoting/otbapp_MajorityVoting.dir/Debug/vc142.pdb

CropMask/MajorityVoting/otbapp_MajorityVoting.dir/Release/otbapp_MajorityVoting.vcxproj.FileListAbsolute.txt

CropMask/PrincipalComponentAnalysis/otbapp_PrincipalComponentAnalysis.dir/Debug/otbapp_PrincipalComponentAnalysis.vcxproj.FileListAbsolute.txt

CropMask/PrincipalComponentAnalysis/otbapp_PrincipalComponentAnalysis.dir/Debug/vc142.pdb

CropMask/PrincipalComponentAnalysis/otbapp_PrincipalComponentAnalysis.dir/Release/otbapp_PrincipalComponentAnalysis.vcxproj.FileListAbsolute.txt

CropMask/SpectralFeaturesExtraction/otbapp_SpectralFeaturesExtraction.dir/Debug/otbapp_SpectralFeaturesExtraction.vcxproj.FileListAbsolute.txt

CropMask/SpectralFeaturesExtraction/otbapp_SpectralFeaturesExtraction.dir/Debug/vc142.pdb

CropMask/SpectralFeaturesExtraction/otbapp_SpectralFeaturesExtraction.dir/Release/otbapp_SpectralFeaturesExtraction.vcxproj.FileListAbsolute.txt

CropMask/Trimming/otbapp_Trimming.dir/Debug/otbapp_Trimming.vcxproj.FileListAbsolute.txt

CropMask/Trimming/otbapp_Trimming.dir/Debug/vc142.pdb

CropMask/Trimming/otbapp_Trimming.dir/Release/otbapp_Trimming.vcxproj.FileListAbsolute.txt

CropType/QualityFlagsExtractor/otbapp_QualityFlagsExtractor.dir/Debug/otbapp_QualityFlagsExtractor.vcxproj.FileListAbsolute.txt

CropType/QualityFlagsExtractor/otbapp_QualityFlagsExtractor.dir/Debug/vc142.pdb

CropType/QualityFlagsExtractor/otbapp_QualityFlagsExtractor.dir/Release/otbapp_QualityFlagsExtractor.vcxproj.FileListAbsolute.txt

CropType/SampleSelection/otbapp_SampleSelectionAgri.dir/Debug/otbapp_SampleSelectionAgri.vcxproj.FileListAbsolute.txt

CropType/SampleSelection/otbapp_SampleSelectionAgri.dir/Debug/vc142.pdb

Debug/MACCSMetadata.pdb

Debug/otbapp_ComputeConfusionMatrixMulti.ilk

Debug/otbapp_ComputeConfusionMatrixMulti.pdb

Debug/otbapp_ContinuousColorMapping.ilk

Debug/otbapp_ContinuousColorMapping.pdb

Debug/otbapp_CropMaskImageClassifier.pdb

Debug/otbapp_CropMaskTrainImagesClassifier.ilk

Debug/otbapp_CropMaskTrainImagesClassifier.pdb

Debug/otbapp_CropTypeImageClassifier.pdb

Debug/otbapp_CropTypeTrainImagesClassifier.ilk

Debug/otbapp_CropTypeTrainImagesClassifier.pdb

Debug/otbapp_Erosion.ilk

Debug/otbapp_Erosion.pdb

Debug/otbapp_MajorityVoting.ilk

Debug/otbapp_MajorityVoting.pdb

Debug/otbapp_MultiModelImageClassifier.pdb

Debug/otbapp_NDVISeries.ilk

Debug/otbapp_NDVISeries.pdb

Debug/otbapp_PrincipalComponentAnalysis.ilk

Debug/otbapp_PrincipalComponentAnalysis.pdb

Debug/otbapp_ProductFormatter.ilk

Debug/otbapp_ProductFormatter.pdb

Debug/otbapp_QualityFlagsExtractor.ilk

Debug/otbapp_QualityFlagsExtractor.pdb

Debug/otbapp_SampleSelectionAgri.ilk

Debug/otbapp_SampleSelectionAgri.pdb

Debug/otbapp_SpectralFeaturesExtraction.ilk

Debug/otbapp_SpectralFeaturesExtraction.pdb

Debug/otbapp_TrainImagesClassifierNew.pdb

Debug/otbapp_Trimming.ilk

Debug/otbapp_Trimming.pdb

Debug/otbapp_XMLStatistics.ilk

Debug/otbapp_XMLStatistics.pdb

Debug/Sen2AgriCommonUtils.pdb

Debug/Sen2AgriPrdMetaWriters.pdb

Debug/Sen2AgriProductReaders.pdb

Debug/Sen2AgriXmlUtils.pdb

Debug/TimeSeriesReader.pdb

ProductFormatters/ProductFormatter/src/otbapp_ProductFormatter.dir/Debug/otbapp_ProductFormatter.vcxproj.FileListAbsolute.txt

ProductFormatters/ProductFormatter/src/otbapp_ProductFormatter.dir/Debug/vc142.pdb

ProductFormatters/ProductFormatter/src/otbapp_ProductFormatter.dir/Release/otbapp_ProductFormatter.vcxproj.FileListAbsolute.txt

ProductFormatters/ProductMetaWriters/src/Debug/Sen2AgriPrdMetaWriters.pdb

ProductFormatters/ProductMetaWriters/src/Sen2AgriPrdMetaWriters.dir/Debug/exports.def

ProductFormatters/ProductMetaWriters/src/Sen2AgriPrdMetaWriters.dir/Debug/Sen2AgriPrdMetaWriters.pdb

ProductFormatters/ProductMetaWriters/src/Sen2AgriPrdMetaWriters.dir/Debug/Sen2AgriPrdMetaWriters.vcxproj.FileListAbsolute.txt

ProductFormatters/ProductMetaWriters/src/Sen2AgriPrdMetaWriters.dir/Release/exports.def

ProductFormatters/ProductMetaWriters/src/Sen2AgriPrdMetaWriters.dir/Release/Sen2AgriPrdMetaWriters.vcxproj.FileListAbsolute.txt

ProductReaders/MACCSMetadata/src/Debug/MACCSMetadata.pdb

ProductReaders/MACCSMetadata/src/MACCSMetadata.dir/Debug/exports.def

ProductReaders/MACCSMetadata/src/MACCSMetadata.dir/Debug/MACCSMetadata.pdb

ProductReaders/MACCSMetadata/src/MACCSMetadata.dir/Debug/MACCSMetadata.vcxproj.FileListAbsolute.txt

ProductReaders/MACCSMetadata/src/MACCSMetadata.dir/Release/exports.def

ProductReaders/MACCSMetadata/src/MACCSMetadata.dir/Release/MACCSMetadata.vcxproj.FileListAbsolute.txt

ProductReaders/MetadataHelpers/src/Debug/Sen2AgriProductReaders.pdb

ProductReaders/MetadataHelpers/src/Sen2AgriProductReaders.dir/Debug/exports.def

ProductReaders/MetadataHelpers/src/Sen2AgriProductReaders.dir/Debug/Sen2AgriProductReaders.pdb

ProductReaders/MetadataHelpers/src/Sen2AgriProductReaders.dir/Debug/Sen2AgriProductReaders.vcxproj.FileListAbsolute.txt

ProductReaders/MetadataHelpers/src/Sen2AgriProductReaders.dir/Release/exports.def

ProductReaders/MetadataHelpers/src/Sen2AgriProductReaders.dir/Release/Sen2AgriProductReaders.vcxproj.FileListAbsolute.txt

TimeSeriesReader/Debug/TimeSeriesReader.pdb

x64/Debug/ALL_BUILD/ALL_BUILD.vcxproj.FileListAbsolute.txt

x64/Debug/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt

x64/Release/ALL_BUILD/ALL_BUILD.vcxproj.FileListAbsolute.txt

x64/Release/ZERO_CHECK/ZERO_CHECK.vcxproj.FileListAbsolute.txt

Common/CropMaskImageClassifierConsole/x64/Debug/CropMaskImageClassifierConsole.vcxproj.FileListAbsolute.txt

Common/CropMaskImageClassifierConsole/x64/Debug/vc142.idb

Common/CropMaskImageClassifierConsole/x64/Debug/vc142.pdb

Common/CropMaskImageClassifierConsole/x64/Release/CropMaskImageClassifierConsole.vcxproj.FileListAbsolute.txt

Common/CropMaskImageClassifierConsole/x64/Release/vc142.pdb

x64/Debug/CropMaskImageClassifierConsole.ilk

x64/Debug/CropMaskImageClassifierConsole.pdb

x64/Release/CropMaskImageClassifierConsole.iobj

x64/Release/CropMaskImageClassifierConsole.ipdb

x64/Release/CropMaskImageClassifierConsole.pdb
