
*.vcxproj

*.filters

*.bat

*.cmake

*.rule

*.bin

*.exe

*.obj

*.tlog

*.log

*.stamp

*.depend

*.sln

*.check_cache

CMakeFiles/3.15.5/CompilerIdC/

CMakeFiles/3.15.5/CompilerIdCXX/

CMakeCache.txt

CMakeFiles/3.15.5/VCTargetsPath.txt

CMakeFiles/generate.stamp.list

CMakeFiles/TargetDirectories.txt

Common/Utils/src/Sen2AgriCommonUtils.dir/Debug/objects.txt

Common/Utils/src/Sen2AgriCommonUtils.dir/MinSizeRel/objects.txt

Common/Utils/src/Sen2AgriCommonUtils.dir/Release/objects.txt

Common/Utils/src/Sen2AgriCommonUtils.dir/RelWithDebInfo/objects.txt

Common/XmlUtils/src/Sen2AgriXmlUtils.dir/Debug/objects.txt

Common/XmlUtils/src/Sen2AgriXmlUtils.dir/MinSizeRel/objects.txt

Common/XmlUtils/src/Sen2AgriXmlUtils.dir/Release/objects.txt

Common/XmlUtils/src/Sen2AgriXmlUtils.dir/RelWithDebInfo/objects.txt

DartConfiguration.tcl

ProductFormatters/ProductMetaWriters/src/Sen2AgriPrdMetaWriters.dir/Debug/objects.txt

ProductFormatters/ProductMetaWriters/src/Sen2AgriPrdMetaWriters.dir/MinSizeRel/objects.txt

ProductFormatters/ProductMetaWriters/src/Sen2AgriPrdMetaWriters.dir/Release/objects.txt

ProductFormatters/ProductMetaWriters/src/Sen2AgriPrdMetaWriters.dir/RelWithDebInfo/objects.txt

ProductReaders/MACCSMetadata/src/MACCSMetadata.dir/Debug/objects.txt

ProductReaders/MACCSMetadata/src/MACCSMetadata.dir/MinSizeRel/objects.txt

ProductReaders/MACCSMetadata/src/MACCSMetadata.dir/Release/objects.txt

ProductReaders/MACCSMetadata/src/MACCSMetadata.dir/RelWithDebInfo/objects.txt

ProductReaders/MetadataHelpers/src/Sen2AgriProductReaders.dir/Debug/objects.txt

ProductReaders/MetadataHelpers/src/Sen2AgriProductReaders.dir/MinSizeRel/objects.txt

ProductReaders/MetadataHelpers/src/Sen2AgriProductReaders.dir/Release/objects.txt

ProductReaders/MetadataHelpers/src/Sen2AgriProductReaders.dir/RelWithDebInfo/objects.txt

*.db

*.opendb

*.ipch

*.db-shm

*.db-wal

*.user

.vs/sen2agri-processors/v16/.suo

*.lib

*.exp

*.dll

CropType/SampleSelection/otbapp_SampleSelectionAgri.dir/Release/otbapp_SampleSelectionAgri.vcxproj.FileListAbsolute.txt
